<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="style_base.css">
    <title>{% block title %}{% endblock %}</title>
    	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% block style %}
    	
    {% endblock %}

</head>

<body>
		{%block navbar %}

		{% endblock %}

        {% block isi %}

        {% endblock %}

</body>
</html>