<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>My Contact - Johanes Marihot Perkasa Simarmata</title>
<script src="https://kit.fontawesome.com/a48052e337.js" crossorigin="anonymous"></script>
<!-- Untuk background foto yang blur sumber nya https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_blurred_bg -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  .bg-image {
    background-image: url("/static/programmer.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: left;
  }
  header{
    width: 100%
    height: 70px;
    background-color: black;
  }
  ul{
    width: auto;
    float: center;
    margin-top: 7px;
  }
  li{
    display: inline-block;
    padding: 15px 30px;
  }
  a{
    font-size: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: monospace;
  }
  a:hover{
    color: yellow;
  }
  i{
    font-size: 40px;
  }
</style>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'homepage:homeStory1'%}">Home</a></li>
        <li><a href="{% url 'homepage:aboutme' %}">About Me</a></li>
        <li><a href="{% url 'homepage:mycontact' %}">My Contact</a></li>
      </ul>
    </nav>
  </header>
  <div class="bg-image"></div>
  <div class="bg-text">
    <h3 style="color: #b3ffff"><i><u>Social Media</u></i></h3>
    <table width="75%">
      <tr>
        <th>
          <a href="https://www.instagram.com/johanesimarmata/"><i class="fab fa-instagram"></i></a>
        </th>
        <th>
          <a href="https://www.instagram.com/johanesimarmata/">johanesimarmata</a>
        </th>
      </tr>
      <tr>
        <th>
          <a href="https://www.linkedin.com/in/johanes-marihot-perkasa-simarmata-7852a31a1/"><i class="fab fa-linkedin"></i></a>
        </th>
        <th>
          <a href="https://www.linkedin.com/in/johanes-marihot-perkasa-simarmata-7852a31a1/">Johanes Marihot Perkasa Simarmata</a>
        </th>
      </tr>
      <tr>
        <th>
          <a href="http://line.me/ti/p/~johanesimarmata"><i class="fab fa-line"></i></a>
        </th>
        <th>
          <a href="http://line.me/ti/p/~johanesimarmata">johanesimarmata</a>
        </th>
      </tr>
      <tr>
        <th>
          <a href="https://wa.me/628119505904"><i class="fab fa-whatsapp"></i></a>
        </th>
        <th>
          <a href="https://wa.me/628119505904">(+62)8119505904</a>
        </th>
      </tr>
      <tr>
        <th>
          <i class="far fa-envelope"></i>
        </th>
        <th>
          jmpsimarmata@gmail.com
        </th>
      </tr>
    </table>
    <h4>Or you can contact me via call or message in:</h4>
    <table width="75%">
      <tr>
        <th>
          <i class="fas fa-phone"></i>
        </th>
        <th>
          (+62)8119505904
        </th>
      </tr>
      <tr>
        <th>
          <i class="fas fa-sms"></i>
        </th>
        <th>
          (+62)8119505904
        </th>
      </tr>
    </table>
</body>
</html>