{% extends "base.html" %}
{%load static%}


	{% block title %}Profile - Johanes Marihot Perkasa Simarmata{% endblock %}
	{% block style %}
    	<link rel="stylesheet" type="text/css" href="{% static 'style1.css'%}">
    {% endblock %}

    {% block isi%}
	<div class="background", style="background-color: #EBEBEB;">
		<div class="container_adebe">
			<h2>Adebe</h2>
		</div>
		<div class="container1">
			<div class="fotoadebe"></div>
		</div>
		<div class="container2">
			<div class="container2-a">
				<h2>Biodata</h2>
				<h3>Name&emsp;&emsp; : Johanes Marihot Perkasa Simarmata</h3>
				<h3>Age&emsp;&emsp;&emsp;: 18 years old</h3>
				<h3>Location&emsp;: Jakarta, Indonesia</h3>
			</div>
			<div class="container2-b">
				<h2>About Me</h2>
				<span>I am a computer science student of University of Indonesia. I love listening to music, playing video games, and also playing with a code (like solving problems etc).</span>
			</div>
			<div class="container2-c">
				<h2>Education</h2>
				<h3>- Ceria Anak Bangsa Elementary School</h3>
				<h3>- Penabur Junior High School</h3>
				<h3>- 81 Senior High School</h3>
				<h3>- University of Indonesia</h3>
			</div>
					<div class="containertombol" style="top:-400px; left: 650px">
					<a href="{% url 'homepage:home' %}"><img src="{% static 'chevron.png' %}" style="transform: rotate(180deg);"></a>
					<a href="{% url 'homepage:profile2' %}"><img src="{% static 'chevron.png' %}"></a>
					</div>
		</div>
	</div>
	{%endblock %}