{% extends "base.html" %}
{% load static %}

	{% block title %}Profile - Johanes Marihot Perkasa Simarmata{% endblock %}
	{% block style %}
    	<link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
    {% endblock %}
<!-- 	<link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}"> -->


	{% block isi%}
	<div class="background", style="background-color: #EBEBEB;">
		<div class="container_adebe">
			<h2>Adebe</h2>
		</div>
		<div class="container1">
			<div class="fotoadebe"></div>
		</div>
		<div class="container2">
			<div class="container2-a">
				<h2>Personal Experience</h2>
				<h3>- Equipment division  Christmas celebration at 81 Senior High School </h3>
				<h3>- Equipment divison main coordinator of Christianity at Senior High School</h3>
				<h3>- Production divison of OLIM UI 2019</h3>
				<h3>- Equipment division of Fasilkom’s Graduation 2020</h3>
			</div>
			<div class="container2-b">
				<h2>Achievement</h2>
				<h3>Energizer Indonesia Robotic Master Cup (2012) at Senayan Trade Center</h3>
			</div>
			<div class="containertombol" style="top: 40%; right: 90%">
				<a href="{% url 'homepage:profile1' %}"><img src="{% static 'chevron.png' %}" style="transform: rotate(180deg);"></a>
				<a href="{% url 'homepage:myfavorite' %}"><img src="{% static 'chevron.png' %}"></a>
			</div>
		</div>
	</div>
	{%endblock%}
